name: tests.yml
on:
    pull_request:
        types: [opened, synchronize, reopened]

jobs:
    test:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v5
            - uses: cachix/install-nix-action@v31
              # temp: use system chrome for tests because of missing suid error with nix-provided chrome
            - uses: browser-actions/setup-chrome@v2
            - name: Spotless check
              run: nix develop .#ci -c gradle spotlessCheck -P'org.gradle.jvmargs=-Xmx512Mi -XX:MaxPermSize=512Mi'
            - name: KMP tests - JVM, JS
              run: nix develop .#ci -c gradle jvmTest jsTest --no-parallel
            - name: KMP tests - linuxX64
              run: nix develop .#ci -c gradle linuxX64Test --no-parallel
